# First 15 lines are ignored.
# Format:
#  DEVICE_NAME: DEVICE_PIN DEVICE_GATHERING_PERIOD_SEC
# Constraints:
# Max line length is 128 characters.
# Max DEVICE_NAME length is 16 characters, first 6 are device type. Minumum size is 7
# Max DEVICE_PIN is 255
# Max DEVICE_GATHERING_PERIOD_SEC is 4294967295
# ":" can't be used in any way other than being a separator, the parser is intentionally dumb.





# Last ignored line
DUMMY101: 1 10
DUMMY202: 2 15
DUMMY303: 3 20
DUMMY404: 4 25
DUMMY505: 5 30
DUMMY606: 6 35
DUMMY707: 7 40
DUMMY808: 8 45
DUMMY909: 9 50
DUMMY010: 10 55
